<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>トップ画面</title>
</head>
<body>
    <ol>
        <li th:each="user : ${userList}" th:text="${user.name}">ダミーの名前</li>
    </ol>
    <ul>
        <li th:text="${dataSource.url}"></li>
        <li th:text="${dataSource.username}"></li>
        <li th:text="${dataSource.password}"></li>
    </ul>
    <form th:action="@{/logout}" method="post">
        <button>ログアウト</button>
    </form>
</body>
</html>